<div id="home" class="home-image img-fluid top">
  <div class="container text-center">
    <div class="row">

      <div class="col-md-6 offset-md-6 top-heading">
        <h4 id="arctext" class="arctext mb-5 mt-5" >| Make and enjoy |</h4>
        <h1>PakuPaku</h1>
        <h4 id="arctext-2" class="arctext mt-5 mb-3">Baby Food</h4>
      </div>

      <div class="col-md-6 offset-md-6 top-text">
        <h3 class="mt-5 font-weight-bold"><span class="text">いつから何を</span><span class="text">食べさせる？？</span></h3>
        <h6 class="mt-5 font-weight-bold">離乳食や乳児食作りでの<span class="text">悩みを軽減します</span></h6>
        <h6 class="mt-3 font-weight-bold">他のママやパパとレシピを<span class="text">共有して今日の献立の参考に</span></h6>
        <h6 class="mb-5 font-weight-bold">子供の大事な時期の<span class="text">離乳食作りを楽しみましょう</span></h6>
        <h6><a href="/users/sign_up" class="top-btn">アカウント作成</a></h6>
      </div>

      <div class="col-md-6 offset-md-6 top-header mt-5">
        <h6><a href="/users/sign_in" class="footer-btn">ログイン</a></h6>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
   $('#arctext').arctext({radius: 250});
   $('#arctext-2').arctext({radius: 250, dir: -1});
</script>
