// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-img-top{
  height: 400px;
  object-fit: cover;
}

.slick-next {
  right: 20px !important;
  z-index: 100;
 }

.slick-prev {
  left: 20px !important;
  z-index: 100;
 }
 
 .item_image_btn{
    display: none;
 }

	#img_field {
	  font-size: 15px;
	  font-style: inherit;
	  margin: 0 auto;
	  color: white;
	  background-color: #17a2b8;
	  border-radius: 5px;
	  width: 180px;
	  height: 40px;
	  text-align: center;
	  line-height: 40px;
	}

@media screen and (max-width: 490px) {
	.card-img-top{
	  object-fit: cover;
	  height: 330px;
	}
}

@media screen and (max-width: 440px) {
	.card-img-top{
	  object-fit: cover;
	  height: 300px;
	}
}

@media screen and (max-width: 330px) {
	.card-img-top{
	  object-fit: cover;
	  height: 270px;
	}
}

@media screen and (max-width: 285px) {
	.card-img-top{
	  object-fit: cover;
	  height: 240px;
	}
}

