// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-img-top{
  height: 400px;
  object-fit: cover;
}

.slick-next {
  right: 20px !important;
  z-index: 100;
 }

.slick-prev {
  left: 20px !important;
  z-index: 100;
 }
 
@media screen and (max-width: 490px) {
	.card-img-top{
	  height: 320px;
	  object-fit: cover;
	}
}

@media screen and (max-width: 440px) {
	.card-img-top{
	  height: 290px;
	  object-fit: cover;
	}
}

@media screen and (max-width: 330px) {
	.card-img-top{
	  height: 250px;
	  object-fit: cover;
	}
}

