// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_edit_image_btn{
    display: none;
 }

	#user_img_field {
	  font-size: 15px;
	  font-style: inherit;
	  margin: 0 auto;
	  color: white;
	  background-color: #17a2b8;
	  border-radius: 5px;
	  width: 180px;
	  height: 40px;
	  text-align: center;
	  line-height: 40px;
	}