<div style="text-align: center; color: #696969; padding:20px;">
  <h1 style="color: #45859c; font-weight: bold; font-family: Hiragino Maru Gothic ProN; text-decoration:underline;
             text-decoration-color: #f0f8ff; padding-top: 20px;">PAKUPAKU</h1>
  <h3 style="padding: 15px;">こんにちは<span style="color: black;"><%= @resource.email %></span>さん!</h3>
  <h4 style="padding: 5px;">パスワード変更確認メールです</h4>
  <p style="font-size: 12px; padding-bottom: 15px; padding-top: 10px;">パスワードの変更を以下のリンクから行えます</p>
  <p style="color: white; background-color: #f5f5f5; border-radius: 100vh; margin: 10px auto; width: 40%; padding: 5px; text-decoration: none;">
    <%= link_to 'このリンクをクリック', edit_password_url(@resource, reset_password_token: @token) %>
  </p>
  <p style="font-size: 12px;">パスワードの変更をリクエストしていなかった場合はこのメールを無視してください</p>
  <p style="font-size: 12px;">上記のリンクにアクセスして新しいパスワードを作成するまでパスワードは変更されません</p>
</div>
