<% if content.favorited_by?(current_user) %>
    <%= link_to content_favorites_path(content), method: :delete, remote: true, data: {"turbolinks" => false}, class: "deco-none" do %>
      <h6 class="favorited fas fa-star mr-1 pb-2"></h6><%= content.favorites.count %>
    <% end %>
  <% else %>
    <%= link_to content_favorites_path(content), method: :post, remote: true, data: {"turbolinks" => false}, class: "deco-none" do %>
      <h6 class="far fa-star mr-1 pb-2"></h6><%= content.favorites.count %>
    <% end %>
<% end %>