<% if content.liked_by?(current_user) %>
    <%= link_to content_likes_path(content), method: :delete, remote: true, class: "deco-none like_switch" do %>
      <h5 class="liked fas fa-heart mr-1 pb-2"></h5><%= content.likes.count %>
    <% end %>
  <% else %>
    <%= link_to content_likes_path(content), method: :post, remote: true, class: "deco-none like_switch" do %>
      <h5 class="far fa-heart mr-1 pb-2"></h5><%= content.likes.count %>
    <% end %>
<% end %>