<% if content.liked_by?(current_user) %>
  <div class="text-left">
    <%= link_to content_likes_path(content), method: :delete, class: "decoration-none" do %>
      <span class="liked fas fa-heart mr-2 pb-2"></span><%= content.likes.count %>
    <% end %>
  </div>
  <% else %>
  <div class="text-left">
    <%= link_to content_likes_path(content), method: :post, class: "decoration-none" do %>
      <span class="far fa-heart mr-2 pb-2"></span><%= content.likes.count %>
    <% end %>
  </div>
<% end %>