<% if content.liked_by?(current_user) %>
  <div class="mr-3">
    <%= link_to content_likes_path(content), method: :delete, remote: true, data: {"turbolinks" => false}, class: "deco-none" do %>
      <h6 class="liked fas fa-heart mr-1 pb-2"></h6><%= content.likes.count %>
    <% end %>
  </div>
  <% else %>
  <div class="mr-3">
    <%= link_to content_likes_path(content), method: :post, remote: true, data: {"turbolinks" => false}, class: "deco-none" do %>
      <h6 class="far fa-heart mr-1 pb-2"></h6><%= content.likes.count %>
    <% end %>
  </div>
<% end %>