<div class="col-lg-6 offset-lg-3 mx-auto mt-2 px-0">
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item small"><%= link_to "一覧", contents_path, class: "nav-link active deco-none" %></li>
    <% 0.upto(3) do |i| %>
      <!--contents_path({})でurlにparameterを渡すことができ、コントローラーでrequest.query_parameters[:age]とすることで値を取得できる-->
      <li class="nav-item small"><%= link_to "#{i}歳",  contents_path({age: i}), class: "nav-link deco-none" %></li>
    <% end %>
  </ul>
</div>